.main{
  display:flex;
  align-items: center;
  justify-content: center;
  height:calc(100vh - 76px) ;
  background-color: #100F10;
  flex-direction: column;

  .containerHero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .heroImage{
      max-width: 450px;
      object-fit: contain;//para não deixar a imagem distorcida

      @media screen and (max-width:580px){
        max-width: 80%;
      }
    }

    h1{
      color: #FFF;
      margin: 28px;
      line-height: 150%;
      text-align: center;

      @media screen and (max-width:580px){
        font-size: 24px;
      }
    }

    .containerSection{
      display: flex;
      align-items: center;
      gap: 30px;    
      @media screen and (max-width:580px){
      flex-direction: column;
      }  

  
      .sectionsDados{
        background-color: #FAFAFA;
        padding: 14px 44px;
        border-radius: 4px;
        transition: transform 0.4s;
        @media screen and (max-width:580px){
          width: 80%;
        }
       
        &:hover{
        transform: scale(1.08);
        }
      }
    }
  }



 
}

@media screen and (max-width:580px) {
  
  .heroImage > img{
   max-width: 80%;
  }
 }